@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap');

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.addButton {
    position: fixed;
    bottom: 8vh;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.container {
    width: 100%;
}

.countdown {
    color: rgb(0, 0, 151);
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    line-height: 20vh;
    font-weight: 700;
}

.container {
    text-align: center;
}