.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    font-size: 30px;
    margin: 0;
}