.menu {
    width: 100%;
    padding: 0;
    position: fixed;
    bottom: 0;
    background-color: #c2b2e6;
    transition: width 0.3s ease-in-out;
    height: 5vh;
    align-content: center;
    padding: 1vh;
}

.content {
    display: flex;
    padding: 6rem 1rem 1rem 1rem;
    flex: 1;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 5vh);
    left: 0;
    transition: width 0.3s ease-in-out;

}

.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    min-height: calc(100vh - 5vh);
}

.main {
    display: flex;
    flex: 1;
    height: 100%;
}


.buque {
    position: absolute;
    top: 0;
    z-index: 1;
    max-width: 100%;
}

.buque.buquel {
    left: 0;
}

.buque.buquer {
    right: 0;
}


@media (max-width: 768px) {
    .menu {
        height: 5vh;
    }

    .buque {
        max-width: 35%;
    }
}