@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.navigation * {
    font-family: 'Poppins', sans-serif;
}

.navigation {
    background-color: #a5d6bb;
    height: 100%;
    text-align: center;
}

.navigation .icon {
    height: 2em;
    width: 2em;
    transition: all 0.3s ease;
}

.icon.logout {
    transform: rotate(180deg);
}

.navigation .menuBar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow-y: scroll; */
}

.menuBar::-webkit-scrollbar {
    display: none;
}

.menu {
    margin-top: 40px;
}

.navigation  {
    height: 100%;
    display: flex;
    align-items: center;
}


.navigation  .link {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
    justify-items: center;
    align-content: center;
    color: rgb(34, 107, 190);
}

/* --- Begin src\components\layout\Sidebar\Sidebar.module.css --- */

.navigation  .link.activeLink {
    background-color: #8dceaa;  /* Active background color */
}

/* Add the rest of your styles as necessary */
/* ... */

@media (max-width: 768px) {
    .text {
        font-size: 0.75em;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
        transition: all 0.3s ease;
    }
    
    .navigation .icon {
        height: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }
}