.card {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 200ms ease-in;
    margin: 1rem;
    width: 100%;
    max-width: 300px;
}

.unavailable {
    opacity: 0.5;
    pointer-events: none;
}

.cardImage {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.cardTitle {
    padding: 0 1rem;
}

.cardDescription {
    padding: 0 1rem;
}

.cardQuantity {
    font-size: 0.8rem;
    padding: 0 1rem;
    margin: 0 0;
}

.cardBtn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    text-align: center;
    text-decoration: none;
}

.cardFooter {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {

    .cardTitle {
        font-size: 1rem;
    }

    .cardDescription {
        font-size: 0.8rem;
    }

    .cardBtn {
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1rem;
        border: 1px solid #d50000;
    }
}
/* 
@media (max-width: 320px) {
    .cardImage {
        height: 10rem;
        width: 100%;
    }

    
} */