.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.addButton {
    position: fixed;
    bottom: 8vh;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.container {
    width: 100%;
}